<h2>public#customer#edit</h2>

<h2>会員情報編集</h2>
<%= form_with model: @customer do |f| %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>氏名</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>住所</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>