<h2>admin#customer#index</h2>

<h2>会員一覧</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <th><%= customer.id %></th>
      <th>
        <%= link_to admin_customer_path(customer) do %>
          <!--<%#= customer..name %>-->
          <%= customer.last_name %>
        <% end %>
      </th>
      <th><%= customer.email %></th>
      <th>
        <% if customer.is_active? %>
          有効
        <% else %>
          退会
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>