<h2>public#items#index</h2>

<h2>商品一覧</h2>
<table class="table table-hover teble-inverse">
    <thead>
      <tr>
        <th></th>
      </tr>
      <tr>
        <th></th>
      </tr>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @items.each do |item| %>
          <th><%= link_to item_path(item) do %>
            <%= image_tag item.get_image(100,100) %><br>
            <%= item.name %><br>
            <%= item.price %>
          <% end %></th>
        <% end %>
      </tr>
    </tbody>
  </table>